Sunny.json
{
  "name": "Sunny",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sunny-chat",
        "options": {}
      },
      "id": "c1742eba-9ce9-4ab9-8632-7ee3726dfce6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2128,
        368
      ],
      "webhookId": "ff152590-796c-4da5-bee5-59fb0fca7800"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.body.latitude ?? -18.9137 }}&longitude={{ $json.body.longitude ?? 47.5361 }}&daily=temperature_2m_max,temperature_2m_min,precipitation_sum,weathercode&timezone=auto&forecast_days=2",
        "options": {}
      },
      "id": "a19f0ef3-dc6f-4b5b-ad17-c1bc9786eb59",
      "name": "Météo (Open-Meteo gratuit)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NŒUD 3 — Préparer Prompt (VERSION RENFORCÉE – Analyse obligatoire des notices)\n//\n// CHANGEMENTS v3 :\n// ✅ Instructions prioritaires explicites avant chaque image produit\n// ✅ Notice analysée AVANT la face (plus importante pour dosage)\n// ✅ Message d'alerte renforcé dans user_content si photos produits présentes\n// ✅ Base64 nettoyé plus agressivement (tous les espaces/retours)\n// ✅ Format data:image/jpeg;base64, imposé uniformément\n// ══════════════════════════════════════════════════════\n\nconst wb = $(\"Webhook\").first().json.body || {};\nconst pool = wb.pool || {};\nconst analyse = wb.analyse || {};\n\nconst imageType = wb.image_type || 'general';\nconst dataOptions = wb.data_options || {};\n\nconst optMeteo = dataOptions.meteo !== false; // default: true\nconst optHistorique = dataOptions.historique !== false; // default: true\nconst optProduits = dataOptions.produits !== false; // default: true\nconst optAlertes = dataOptions.alertes !== false; // default: true\nconst optPlanning = !!dataOptions.planning; // default: false\n\n// ── Météo ──────────────────────────────────────────────\nconst meteoData = $input.first().json || {};\nconst daily = meteoData.daily || {};\n\n// Utiliser UNIQUEMENT les données du jour actuel (index 0), pas le max de toute la période\nconst maxT = Array.isArray(daily.temperature_2m_max) && daily.temperature_2m_max.length\n  ? Math.round(daily.temperature_2m_max[0]) : 25;\nconst minT = Array.isArray(daily.temperature_2m_min) && daily.temperature_2m_min.length\n  ? Math.round(daily.temperature_2m_min[0]) : 15;\n// Pluie du jour actuel uniquement\nconst pluie = Array.isArray(daily.precipitation_sum) && daily.precipitation_sum.length\n  ? daily.precipitation_sum[0] : 0;\n\nconst filtrationReco = maxT > 33 ? '24h/24' : (Math.round(maxT / 2) + 2) + 'h/jour';\n\n// ── Labels lisibles (champs ACF WordPress) ─────────────\nconst typePool = ({ enterree: 'enterrée', hors_sol: 'hors-sol' }[pool.type] || pool.type || '?');\nconst filtrePool = ({ sable: 'sable', cartouche: 'cartouche', electrolyse: 'électrolyse sel', verre: 'verre' }[pool.filtre] || pool.filtre || '?');\nconst traitPool = ({ chlore: 'chlore', brome: 'brome', electrolyse: 'électrolyse sel', uv: 'UV', oxygene_actif: 'oxygène actif' }[pool.traitement] || pool.traitement || '?');\n\n// ── Alertes eau automatiques ────────────────────────────\nconst alertes = [];\nif (optAlertes) {\n  if (analyse.ph !== null && analyse.ph !== undefined) {\n    if (analyse.ph < 7.0) alertes.push({ urgence: 'haute', msg: 'pH trop bas (' + analyse.ph + ') → eau agressive, ajouter pH+' });\n    if (analyse.ph > 7.6) alertes.push({ urgence: 'haute', msg: 'pH trop élevé (' + analyse.ph + ') → chlore inefficace, corriger pH en premier' });\n  }\n  if (analyse.chlore !== null && analyse.chlore !== undefined && analyse.chlore < 0.5)\n    alertes.push({ urgence: 'haute', msg: 'Chlore très bas (' + analyse.chlore + ' mg/L) → désinfection insuffisante' });\n  if (analyse.tac !== null && analyse.tac !== undefined && analyse.tac < 80)\n    alertes.push({ urgence: 'moyenne', msg: 'TAC bas (' + analyse.tac + ' mg/L) → pH instable, corriger en premier' });\n  if (analyse.stabilisant !== null && analyse.stabilisant !== undefined && analyse.stabilisant > 60)\n    alertes.push({ urgence: 'moyenne', msg: 'Stabilisant élevé (' + analyse.stabilisant + ' mg/L) → dilution + stop chlore stabilisé' });\n\n  if (analyse.temperature !== null && analyse.temperature !== undefined) {\n    if (analyse.temperature > 25) alertes.push({ urgence: 'moyenne', msg: 'Température élevée (' + analyse.temperature + '°C) → risque algues, augmenter filtration' });\n    if (analyse.temperature > 33) alertes.push({ urgence: 'haute', msg: 'Canicule (' + analyse.temperature + '°C) → filtration 24h/24 recommandée' });\n    if (analyse.temperature < 3) alertes.push({ urgence: 'haute', msg: 'Risque gel (' + analyse.temperature + '°C) → filtration nuit obligatoire' });\n  }\n  // Alertes météo uniquement si la météo est transmise\n  if (optMeteo) {\n    if (maxT > 33) alertes.push({ urgence: 'haute', msg: 'Canicule ' + maxT + '°C → filtration 24h/24' });\n    else if (maxT > 28) alertes.push({ urgence: 'haute', msg: 'Fortes chaleurs ' + maxT + '°C → augmenter filtration' });\n    if (minT < 3) alertes.push({ urgence: 'haute', msg: 'Risque gel ' + minT + '°C → filtration nuit obligatoire' });\n    if (parseFloat(pluie) > 20) alertes.push({ urgence: 'haute', msg: 'Fortes pluies ' + pluie + 'mm → surveiller équilibre' });\n  }\n}\n\n// ── Planning ──────────────────────────────────────────\nconst planning = {\n  filtration_journaliere: filtrationReco,\n  hebdomadaire: ['Vérifier pH et chlore (2x/sem)', 'Vider skimmers (2x/sem)', 'Robot piscine (3x/sem)', 'Brosser parois et ligne eau'],\n  mensuel: ['Laver filtre (backwash ou cartouche)', 'Vérifier TAC et stabilisant', 'Nettoyer intérieur skimmers']\n};\n\n// ── Historique de conversation (envoyé par WordPress) ──\nlet conversationHistory = [];\nif (optHistorique && wb.history) {\n  try {\n    if (Array.isArray(wb.history)) {\n      conversationHistory = wb.history.slice(-20);\n    } else {\n      const parsed = JSON.parse(wb.history);\n      if (Array.isArray(parsed)) {\n        conversationHistory = parsed.slice(-20);\n      }\n    }\n  } catch (e) { conversationHistory = []; }\n}\n\n\n// ══════════════════════════════════════════════════════\n// DOCUMENTATION PISCINE INTÉGRÉE (remplace googleDocsTool)\n// Contenu des 6 PDFs de référence Sunny\n// ══════════════════════════════════════════════════════\nconst DOCUMENTATION_PISCINE = `=== PDF 1   FONDAMENTAUX DE L EAU DE PISCINE ===\nr📄 PDF 1 — FONDAMENTAUX DE L’EAU DE PISCINE (VERSION FINALE)\n🎯 Objectif\nComprendre les paramètres essentiels de l’eau afin de garantir :\nune eau saine\nun confort de baignade optimal\nune efficacité maximale des traitements\n1. LE pH (POTENTIEL HYDROGÈNE)\nDéfinition\nLe pH mesure l’acidité ou la basicité de l’eau.\nÉchelle de 0 à 14 :\n< 7 : acide\n= 7 : neutre\n7 : basique\nValeur idéale\n👉 Entre 7.0 et 7.4\n👉 Référence physiologique importante :\nLe pH des larmes humaines est d’environ 7,2\n➡️ Conclusion :\nMaintenir le pH autour de 7,2 permet :\nun confort optimal (pas d’irritation)\nune eau “naturelle” pour le corps\nRôle\nOptimise l’efficacité du chlore\nGarantit le confort des baigneurs\nProtège les équipements\npH trop bas (< 7.0)\nConséquences\nEau agressive\nIrritations peau et yeux\nCorrosion des équipements\nConsommation rapide du chlore\nCorrection\n👉 Ajouter du pH+\npH trop haut (> 7.4)\nConséquences\nChlore inefficace (point critique)\nEau trouble\nDépôts calcaires\nDéveloppement d’algues\nCorrection\n👉 Ajouter du pH-\n2. LE TAC (ALCALINITÉ)\nDéfinition\nLe TAC mesure la capacité de l’eau à stabiliser le pH.\nValeur idéale\n👉 Entre 80 et 120 mg/L\nRôle\nStabilise le pH\nÉvite les variations brutales\nTAC trop bas\nConséquences\npH instable\ncorrections inefficaces\nCorrection\n👉 Ajouter du TAC+ (bicarbonate)\nTAC trop élevé\nConséquences\npH difficile à corriger\neau trouble possible\nCorrection\n👉 dilution (ajout d’eau neuve)\n3. LE TH (DURETÉ / CALCAIRE)\nDéfinition\nLe TH mesure la quantité de calcaire dans l’eau.\nValeur idéale\n👉 Entre 10 et 25 °f\nTH trop élevé\nConséquences\ndépôts calcaires\nentartrage équipements\ntaches blanches\neau trouble\nTH trop bas\nConséquences\neau agressive\ncorrosion\nCorrection\n👉 anti-calcaire + dilution si nécessaire\n4. MÉTAUX DANS L’EAU (FER / CUIVRE)\nDéfinition\nPrésence de métaux dissous (souvent eau de remplissage).\nEffets visibles\nFer\ntaches marron / rouille\npoints localisés\nCuivre\ncoloration verdâtre\ntaches sombres\nRisque\n👉 Réaction avec :\nchlore\npH élevé\n➡️ apparition de taches souvent difficiles à enlever\nTraitement préventif (OBLIGATOIRE)\n👉 À la mise en eau :\najouter un séquestrant métaux\n👉 référence terrain efficace :\nPiscimar\nObjectif\nneutraliser les métaux\néviter les taches\nstabiliser l’eau\n5. LA TEMPÉRATURE DE L’EAU\nImpact\nInfluence directe sur :\nconsommation de chlore\ndéveloppement des algues\nRègle standard\n👉 Temps de filtration = Température / 2\nCas critique\n👉 Dès 25–26°C :\nrisque d’algues élevé\nchlore instable\nEn période de canicule\n👉 Recommandation professionnelle :\nfiltration 24h/24\nsurveillance quotidienne\nActions\naugmenter filtration\najuster traitement\nanticiper dérives\n6. LE DÉSINFECTANT (CHLORE / BROME / SEL)\nRôle\néliminer bactéries, virus, algues\nmaintenir une eau saine\nTypes principaux\nChlore\néconomique\nefficace\nsensible au pH\nBrome\nstable à haute température\nmoins irritant\nSel (électrolyse)\nproduction automatique de chlore\nconfort élevé\ncoût plus important\nAlternative professionnelle (IMPORTANT)\n👉 Automatisation à coût réduit :\npompe doseuse chlore liquide\nrégulation pH automatique\n➡️ Avantages :\nmoins cher que l’électrolyse\ntrès précis\nidéal pour maintenance pro\nValeurs idéales\nChlore : 1 à 3 mg/L\nBrome : 2 à 4 mg/L\nProblème fréquent\nChlore inefficace\n👉 causes :\npH trop élevé\ntempérature élevée\nfiltration insuffisante\n⚠️ RÈGLES FONDAMENTALES\nTAC → pH → désinfectant (ordre obligatoire)\ntoujours filtrer après traitement\nne jamais mélanger produits\ntraiter les métaux à la mise en eau\n🧠 LOGIQUE GLOBALE\n👉 Une eau équilibrée =\nstabilité (TAC)\nefficacité (pH)\ndésinfection (chlore)\npureté (absence de métaux)\n✅ CONCLUSION\nUne bonne gestion de l’eau repose sur :\ncompréhension des paramètres\nanticipation des dérives\ntraitement préventif\n👉 90% des problèmes viennent d’un mauvais équilibre de base\n\n=== PDF 2   LOGIQUE D ÉQUILIBRE ET DE CORRECTION DE L EAU ===\n📄 PDF 2 — LOGIQUE D’ÉQUILIBRE ET DE CORRECTION DE L’EAU (VERSION EXPERT)\n🎯 Objectif\nPermettre à l’IA de :\nanalyser une eau\ndiagnostiquer un problème\nappliquer une logique de correction fiable\n🧠 PRINCIPE FONDAMENTAL\n👉 Une piscine se corrige dans un ordre précis :\n🔁 ORDRE DE CORRECTION\nTAC\npH\nDésinfectant\n👉 Si cet ordre n’est pas respecté :\ninefficacité\nsurdosage\nproblèmes récurrents\n1. ANALYSE DE BASE\nParamètres à mesurer\nTAC\npH\nchlore\ntempérature\nstabilisant (important)\n2. CORRECTION DU TAC\nTAC trop bas (< 80 mg/L)\n👉 problème :\npH instable\n👉 action :\najouter TAC+\nTAC trop haut (> 120 mg/L)\n👉 problème :\npH difficile à corriger\n👉 actions possibles :\ndilution (ajout eau neuve)\nutilisation de TAC- (si disponible / usage pro)\n⚠️ RÈGLE\n👉 TAC toujours corrigé AVANT pH\n3. CORRECTION DU pH\npH trop bas (< 7.0)\n👉 action :\najouter pH+\npH trop haut (> 7.4)\n👉 problème critique :\nchlore inefficace\n👉 action :\najouter pH-\n⚠️ RÈGLE CRITIQUE\n👉 Tant que le pH n’est pas bon →\n 👉 le chlore est inefficace\n4. DÉSINFECTANT & STABILISANT\nAjustement chlore\n< 1 mg/L → chlore choc ou entretien\n⚠️ STABILISANT (TRÈS IMPORTANT)\n👉 À intégrer systématiquement :\nRôle\nprotège le chlore contre les UV\névite sa destruction rapide\nCas critiques\nPiscine au sel\n👉 stabilisant indispensable\nChlore liquide\n👉 stabilisant obligatoire (sinon perte immédiate)\nProblème fréquent\n👉 trop de stabilisant :\nchlore inefficace\neau saturée\n👉 solution :\ndilution partielle\n5. IMPACT TEMPÉRATURE & FILTRATION\nRègle améliorée terrain\n👉 Temps de filtration =\n Température / 2 + 2 heures\nPriorité absolue\n👉 filtrer :\nen journée\npendant les baignades\nForte chaleur (> 25–26°C)\n👉 actions :\nfiltration augmentée\nen canicule → 24h/24\n⚠️ RÈGLE CLÉ\n👉 La filtration fait 80% du travail\n6. LOGIQUE FILTRATION\nSi problème eau :\n👉 toujours vérifier :\nétat du filtre\ndurée de filtration\nActions correctives\nlavage filtre (backwash)\nnettoyage cartouche\naugmentation durée\n7. FLOCCULANT / CLARIFIANT (IMPORTANT)\n⚠️ RÈGLE\n👉 floculant NON compatible avec tous les filtres\nFiltre à sable\n👉 OK floculant\nFiltre à cartouche\n👉 PAS de floculant\n👉 utiliser :\nclarifiant en pastille dans le panier pompe\n➡️ résultat :\neau claire en 24–48h\n8. CAS CONCRETS (LOGIQUE IA)\nCAS 1 — EAU VERTE (PROTOCOLE PRO)\nCauses\nchlore insuffisant\npH élevé\nfiltration insuffisante\nPlan d’action complet\nfiltration non-stop (24h/24)\nnettoyage filtre :\nbackwash ou cartouche\n3 à 4 fois par jour\nbrossage :\nparois\nfond\nmarches\nplusieurs fois / jour\ncorrection :\nTAC\npH\ntraitement :\nchlore choc (hypochlorite non stabilisé recommandé)\nanti-algues\nfinition :\nclarifiant ou floculant selon filtre\naspiration des dépôts\nCAS 2 — EAU TROUBLE\nCauses\nfiltration insuffisante\nfiltre encrassé\ndéséquilibre chimique\nPlan d’action\nnettoyage filtre\najuster TAC\najuster pH\nclarifiant / floculant selon filtre\nCAS 3 — CHLORE INEFFICACE\nCause principale\n👉 pH trop élevé\n 👉 ou stabilisant mal géré\nPlan d’action\ncorriger pH\nvérifier stabilisant\nrelancer traitement\n9. CHLORE CHOC (POINT IMPORTANT)\nType recommandé\n👉 hypochlorite de calcium (non stabilisé)\nAvantages\naction rapide\nne surcharge pas en stabilisant\nidéal en traitement choc\nÀ éviter\n👉 accumulation de stabilisant avec chlore stabilisé\n10. ERREURS CLASSIQUES\n❌ traiter sans analyser\n ❌ ignorer filtration\n ❌ utiliser floculant avec cartouche\n ❌ oublier stabilisant\n ❌ surdoser chlore stabilisé\n🧠 LOGIQUE IA (SUNNYPOOL)\nExemple\nSi :\npH = 7.8\nchlore = bas\n👉 IA doit dire :\n❌ ne pas ajouter chlore\n ✅ corriger pH\nObjectif\n👉 guider intelligemment\n 👉 éviter erreurs client\n 👉 réduire SAV\n✅ CONCLUSION\n👉 Une eau propre dépend :\nde la logique\nde la filtration\nde la rigueur\n👉 L’ordre + la méthode = 90% du résultat\n\n=== PDF 3   ENTRETIEN COMPLET DE LA PISCINE ===\n📄 PDF 3 — ENTRETIEN COMPLET DE LA PISCINE (VERSION EXPERT TERRAIN)\n🎯 Objectif\nPermettre à l’IA de :\nguider un client au quotidien\néviter les erreurs coûteuses\nstructurer un entretien professionnel fiable\n🧠 PRINCIPE FONDAMENTAL\n👉 Une piscine bien entretenue =\n👉 moins de produits + moins de problèmes\n👉 Anticiper vaut toujours mieux que corriger\n1. ENTRETIEN QUOTIDIEN\nActions\nretirer les débris\nvérifier visuellement l’eau\ncontrôler température\n2. ENTRETIEN HEBDOMADAIRE\nNettoyage\nrobot piscine\nbrossage parois / fond / marches\nnettoyage ligne d’eau\n⚠️ ROBOT PISCINE (IMPORTANT)\n👉 Plus le robot fonctionne → mieux c’est\n➡️ Il remplace :\nle brossage manuel\nl’aspiration\n👉 utilisation recommandée :\nplusieurs fois / semaine\nvoire quotidien en forte saison\nTechnique\nvider skimmers\nnettoyer panier pompe\nnettoyer intérieur des skimmers (souvent négligé)\nAnalyse\npH\nchlore\nTAC\n3. ENTRETIEN MENSUEL\nActions\nnettoyage filtre approfondi\ncontrôle TAC / TH\nvérification équipements\n4. FILTRATION (PILIER N°1)\nRègle\n👉 Temps = Température / 2 + 2 heures\nPriorité\n👉 filtrer :\nen journée\npendant les baignades\nForte chaleur\n👉 >25–26°C :\naugmenter filtration\ncanicule → 24h/24\n⚠️ RÈGLE CLÉ\n👉 La filtration = 80% du résultat\nChoix du filtre (terrain)\nFiltre à cartouche (recommandé)\n👉 avantages :\npas de perte d’eau\npas de perte de sel / stabilisant / produits\nplus écologique\nFiltre à sable\n👉 inconvénients :\nbackwash = perte :\neau\nsel\nstabilisant\nchlore\n👉 particulièrement pénalisant en piscine au sel\n⚠️ NETTOYAGE CARTOUCHE\n👉 ne jamais utiliser un karcher trop proche\n➡️ risque :\ndestruction de la cartouche\n👉 utiliser :\njet d’eau classique\n5. NETTOYAGE DU BASSIN\nActions\nbrossage complet\nnettoyage ligne d’eau\naspiration\nObjectif\n👉 éliminer :\nbiofilm\nalgues\ndépôts\n6. SKIMMERS & PRÉFILTRE\nActions\nvider paniers\nnettoyer préfiltre\nnettoyer intérieur skimmers\nPourquoi\n👉 accumulation :\nalgues\nimpuretés\n7. TRAITEMENT DE L’EAU (BONNES PRATIQUES)\n⚠️ RÈGLE ABSOLUE\n👉 jamais de produit directement concentré dans le bassin\nMéthode correcte\nprendre un seau\ndiluer le produit\nverser dans le bassin\n👉 répartir dans zones profondes\n⚠️ À ÉVITER\nmarches\nzones peu profondes\n⚠️ INTERDICTION\n👉 ne jamais mettre de chlore dans les skimmers\n➡️ conséquences :\ndétérioration skimmer\ndestruction tuyauterie\n👉 utiliser :\ndiffuseur flottant\n8. GESTION DU SEL\nRègle\n👉 ne jamais ajouter le sel sans préparation\nOrdre\néquilibrer eau\najuster stabilisant\najouter sel\n9. VIDANGE DU BASSIN (DANGER)\n⚠️ RÈGLE N°1\n👉 ne jamais vider un bassin sans précaution\nRisque\n👉 poussée d’Archimède\n➡️ le bassin peut :\nse fissurer\nremonter\nProcédure obligatoire\nvérifier présence puits de décompression\ninstaller pompe vide cave\nmaintenir niveau d’eau extérieur maîtrisé\n10. ENTRETIEN EN CAS DE PROBLÈME\nEau verte (PROTOCOLE COMPLET)\n👉 actions :\nfiltration 24h/24\nnettoyage filtre 3–4 fois / jour\nbrossage intensif\najustement TAC\najustement pH\nchlore choc (non stabilisé recommandé)\nanti-algues\nclarifiant / floculant\naspiration des dépôts\nEau trouble\nnettoyage filtre\najustement TAC\najustement pH\nclarifiant / floculant\n11. HIVERNAGE (RECOMMANDATION PRO)\nPréconisation\n👉 privilégier hivernage actif\nAvantages\nmoins de produits\neau propre toute l’année\nremise en service facile\n12. REMISE EN SERVICE\nÉtapes\nnettoyage bassin\nremise filtration\nanalyse eau\najustement TAC / pH\nchlore choc obligatoire\nObjectif\n👉 éliminer bactéries et algues hivernales\n13. ERREURS CLASSIQUES\n❌ négliger filtration\n❌ mettre produits dans skimmer\n❌ utiliser karcher sur cartouche\n❌ vider piscine sans précaution\n❌ traiter sans dilution\n🧠 LOGIQUE IA\n👉 entretien =\nrégularité\nméthode\nanticipation\n✅ CONCLUSION\n👉 Une piscine bien entretenue :\ncoûte moins cher\nreste propre\névite le SAV\n👉 La discipline fait toute la différence\n\n=== PDF 4   DIAGNOSTIC   RÉSOLUTION DES PROBLÈMES PISCINE ===\n📄 PDF 4 — DIAGNOSTIC & RÉSOLUTION DES PROBLÈMES PISCINE (VERSION IA + TERRAIN)\n🎯 Objectif\nPermettre à l’IA de :\nanalyser un problème avec précision\ncroiser visuel + données + contexte\nproposer une solution fiable\n🧠 MÉTHODE DE DIAGNOSTIC (STRUCTURE IA)\nÉtape 1 — Observation visuelle\ncouleur de l’eau\ntransparence\nprésence de dépôts\ntaches\nÉtape 2 — Analyse technique\nTAC\npH\nchlore\ntempérature\nÉtape 3 — Contexte (TRÈS IMPORTANT)\n👉 L’IA doit obligatoirement demander :\ndepuis quand le problème existe\ntraitement déjà effectué\ntype de filtration (sable / cartouche)\nfréquence d’entretien\nmétéo récente\n⚠️ RÈGLE IA CRITIQUE\n👉 Une photo seule ne suffit pas\n👉 Il faut :\nphoto + description du client\n➡️ sinon :\ndiagnostic imprécis\nmauvaise réponse\n1. EAU VERTE (CAS MAJEUR)\nDiagnostic\nalgues\nchlore insuffisant\npH trop haut\nfiltration insuffisante\nPlan d’action (PROTOCOLE PRO)\nfiltration 24h/24\nnettoyage filtre :\n3 à 4 fois / jour\nbrossage intensif :\nparois\nfond\nmarches\ncorrection :\nTAC\npH\ntraitement :\nchlore choc non stabilisé\nanti-algues\nfinition :\nclarifiant / floculant\naspiration\n2. EAU TROUBLE / LAITEUSE\nDiagnostic\nfiltration insuffisante\nfiltre saturé\nproduit inadapté\n⚠️ CAS SPÉCIFIQUE FILTRE CARTOUCHE\n👉 très fréquent :\nutilisation mauvais chlore ou stabilisant\nsurcharge produit\n➡️ résultat :\neau laiteuse\ndépôt blanc\ncartouche qui “coule blanc”\nPlan d’action\nfiltration 24h/24\nnettoyage cartouche très fréquent\najuster TAC\najuster pH\nutiliser clarifiant (pas floculant)\n3. TACHES DANS LE BASSIN\nDiagnostic\nTaches marron\n👉 fer\nTaches blanches\n👉 calcaire\nTaches noires\n👉 algues incrustées\nPlan d’action\nidentifier cause\nséquestrant métaux si besoin\najustement pH\nbrossage\n4. CHLORE INEFFICACE\nDiagnostic\n👉 causes principales :\npH trop élevé\nstabilisant trop élevé\ntempérature élevée\nPlan d’action\ncorriger pH\nvérifier stabilisant\najuster chlore\n5. EAU QUI TOURNE RAPIDEMENT\nDiagnostic\nmanque filtration\nchaleur\ndéséquilibre\nPlan d’action\naugmenter filtration\nsurveillance quotidienne\ntraitement préventif\n6. ALGUES TENACES\nDiagnostic\nzones mal brassées\nmanque désinfection\nPlan d’action\nbrossage intensif\ntraitement choc\nnettoyage filtre\n7. FILTRE INEFFICACE\nDiagnostic\nfiltre saturé\ncartouche HS\nsable encrassé\nPlan d’action\nnettoyage\nremplacement si nécessaire\n8. CAS CRITIQUE\nSymptômes\neau opaque\nforte odeur\nfond invisible\nPlan d’action\n👉 protocole eau verte complet\n⚠️ ERREURS CRITIQUES À ÉVITER\n❌ analyser uniquement avec une photo\n❌ ignorer type de filtration\n❌ utiliser floculant avec cartouche\n❌ surcharger en stabilisant\n❌ négliger nettoyage filtre\n🧠 LOGIQUE IA (INTELLIGENTE)\nL’IA doit systématiquement :\ndemander contexte\nvérifier filtration\nvérifier pH\nanalyser cohérence\nExemple\nPhoto eau trouble + client dit :\n“j’ai mis beaucoup de chlore”\n👉 IA doit comprendre :\nsurdosage\nfiltration insuffisante\npossible saturation cartouche\n✅ CONCLUSION\n👉 Diagnostic fiable =\nvisuel\ndonnées\ncontexte\n👉 Sans contexte → IA inefficace\n\n=== PDF 5   MISE EN SERVICE PISCINE ===\n📄 PDF 5 — MISE EN SERVICE PISCINE (VERSION PRO – FINALE)\n🎯 Objectif\nPermettre à l’IA de :\nguider un démarrage parfait\nrattraper une eau neuve sale\néviter 90% des erreurs dès le début\n🧠 PRINCIPE FONDAMENTAL\n👉 Une mauvaise mise en service =\neau instable\nalgues rapides\nSAV immédiat\n👉 Une bonne mise en service =\neau propre en 24–72h\nstabilité durable\n⚠️ CAS SPÉCIFIQUE — REMPLISSAGE AVEC EAU DE FORAGE\nPeut-on remplir avec de l’eau de forage ?\n👉 OUI — MAIS traitement obligatoire\nProblèmes fréquents\nforte présence de métaux (fer)\neau chargée\nrisque d’algues immédiat\nTraitement obligatoire dès remplissage\n👉 à faire immédiatement :\nchlore choc\nanti-algues (obligatoire)\nséquestrant métaux\nanti-calcaire\n⚠️ Sans traitement\n👉 apparition rapide :\neau verte\ntaches rouille\neau trouble\n1. ÉTAPE 1 — MISE EN ROUTE\ndémarrer filtration immédiatement\nvérifier circulation\n👉 jamais d’eau stagnante\n2. ÉTAPE 2 — ANALYSE\nTAC\npH\nchlore\ntempérature\n3. ÉTAPE 3 — TRAITEMENT MÉTAUX\n👉 ajouter :\nséquestrant métaux\n👉 référence terrain :\nPiscimar\n4. ÉTAPE 4 — ÉQUILIBRAGE\n👉 ordre :\nTAC\npH\n5. ÉTAPE 5 — STABILISANT\n👉 obligatoire :\nchlore liquide\nélectrolyse au sel\n6. ÉTAPE 6 — CHLORE CHOC (CRITIQUE)\nRègle\n👉 chlore choc obligatoire au démarrage\nType recommandé\n👉 hypochlorite de calcium (non stabilisé)\nPourquoi\naction immédiate\ndétruit bactéries et algues\nne surcharge pas en stabilisant\n⚠️ IMPORTANT\n👉 même pour piscine au sel :\n➡️ chlore choc obligatoire au démarrage\n7. ÉTAPE 7 — FILTRATION INTENSIVE\n24h/24\nminimum 48h\n8. ÉTAPE 8 — NETTOYAGE\nbrossage complet\nrobot\naspiration\n9. ÉTAPE 9 — CLARIFICATION\nfiltre sable → floculant\nfiltre cartouche → clarifiant\n10. ÉTAPE 10 — AJOUT DU SEL (SI CONCERNÉ)\n👉 uniquement après :\neau équilibrée\nstabilisant ajouté\n11. CONTRÔLE FINAL\neau claire\npH stable\nchlore actif\n⚠️ ERREURS CRITIQUES\n❌ oublier traitement eau de forage\n❌ ne pas faire chlore choc\n❌ ajouter sel trop tôt\n❌ ne pas traiter métaux\n❌ négliger filtration\n🧠 LOGIQUE IA\nClient dit :\n“j’ai rempli avec eau de forage”\n👉 IA doit répondre :\ntraitement immédiat obligatoire\nprotocole complet\ninsister anti-algues + métaux\n✅ CONCLUSION\n👉 Une mise en service réussie repose sur :\nanticipation\ntraitement complet dès le départ\nfiltration intensive\n👉 Les premières 48h conditionnent tout le reste\n🔥 RÉCAP EXPRESS\n👉 ordre :\nfiltration\nmétaux\nTAC\npH\nstabilisant\nchlore choc\nnettoyage\n\n=== PDF 6   HIVERNAGE   ENTRETIEN DES SYSTÈMES AUTOMATISÉS ===\n📄 PDF 6 — HIVERNAGE & ENTRETIEN DES SYSTÈMES AUTOMATISÉS (VERSION EXPERT FINALE)\n🎯 Objectif\nHiverner correctement (actif / passif)\nProtéger les équipements (PAC, filtration, sondes)\nGarantir un redémarrage simple et sans casse\n🧠 PRINCIPE GLOBAL\n👉 Hivernage maîtrisé =\neau stable\nmatériel préservé\nzéro mauvaise surprise\n1. HIVERNAGE ACTIF (RECOMMANDÉ)\nPrincipe\n👉 Fonctionnement ralenti, eau en mouvement\nMise en place\nnettoyage complet\néquilibrage :\nTAC\npH\ntraitement :\nchlore choc\nproduit hivernage\nFiltration (RÈGLES TERRAIN)\n👉 Base :\n2 à 4h / jour minimum\n👉 Priorité absolue : périodes de gel\n➡️ programmer filtration :\nla nuit\ntôt le matin\n⚠️ Cas de grand froid\n👉 si doute (gel prolongé) :\n➡️ filtration 24h/24\nPourquoi\neau en mouvement\névite gel dans les canalisations\névite casse matériel\nCirculation complète (IMPORTANT)\n👉 ouvrir toutes les lignes :\nskimmers\nprise balai\nbonde de fond\n➡️ objectif :\ncirculation partout\naucune zone stagnante\n2. HIVERNAGE PASSIF\nPrincipe\n👉 arrêt complet\nÉtapes\nnettoyage\néquilibrage\nchlore choc\nproduit hivernage\nActions\nabaisser niveau eau\npurger canalisations\ninstaller gizmos\narrêter filtration\nInconvénients\neau se dégrade\nremise en service plus lourde\n3. HIVERNAGE DE LA PAC\nProcédure\ncouper alimentation\nfermer by-pass\nouvrir raccords\nvidanger complètement\n⚠️ POINT CRITIQUE\n👉 revisser les embouts après vidange\nPourquoi\néviter insectes\néviter obstruction\nProtection\ncouvrir sans étouffer\n4. ENTRETIEN DES SONDES\nFréquence\ntoutes les 2 à 4 semaines\nActions\nrinçage\nnettoyage\ncontrôle visuel\nProblèmes\ncalcaire\nbiofilm\ndérive\n5. CALIBRAGE DES SONDES (POINT CRITIQUE)\n⚠️ PRÉREQUIS OBLIGATOIRE\n👉 Pour calibrer :\nsoit une sonde de secours\nsoit un bouchon de sonde\nPourquoi\n👉 sinon :\nimpossible de faire tourner la filtration\nimpossible de calibrer correctement\nSonde pH\n👉 fréquence :\n4 à 6 semaines\nSolutions tampon\n👉 selon appareil :\npH 4\npH 7\npH 10\n⚠️ RÈGLE\n👉 toujours vérifier la notice fabricant\nSonde chlore (Redox)\n👉 fréquence :\n1 fois / mois\nImportant\n👉 Redox = indication\n👉 pas valeur exacte\n6. ENTRETIEN ÉLECTROLYSEUR\nProblème\n👉 calcaire\nEntretien\nnettoyage acide léger\ncontrôle visuel\nFréquence\n1 à 2 fois / saison\n7. ERREURS CRITIQUES\n❌ ne pas filtrer en période de gel\n❌ oublier circulation complète\n❌ oublier PAC\n❌ ne pas revisser raccords\n❌ calibrer sans matériel\n❌ ignorer notice fabricant\n🧠 LOGIQUE IA\n👉 L’IA doit :\ndétecter risque gel\nrecommander filtration adaptée\nvérifier cohérence sondes\ndemander matériel calibration\nExemple\nTempérature basse + filtration arrêtée\n👉 IA :\nalerte gel\nrecommande filtration continue\n✅ CONCLUSION\n👉 Hivernage réussi =\neau en mouvement\nmatériel protégé\nautomatisation fiable\n👉 Le gel est le plus gros risque → toujours anticiper`;\n\n// ── System Prompt ──────────────────────────────────────\n// Fonction pour formater une date (YYYY-MM-DD HH:MM:SS) → JJ/MM/AAAA\nfunction formatDateShort(dateStr) {\n  if (!dateStr) return '';\n  const d = new Date(dateStr);\n  if (isNaN(d.getTime())) return dateStr.substring(0, 10);\n  return d.toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n}\n\n// Labels catégories (miroir de single-piscine.php)\nconst CATS_LABELS = {\n  chlore_choc: 'Chlore choc', chlore_lent: 'Chlore lent',\n  ph_plus: 'pH+', ph_moins: 'pH-',\n  anti_algues: 'Anti-algues', clarifiant: 'Clarifiant',\n  floculant: 'Floculant', sequestrant_calcaire: 'Séquestrant calcaire',\n  sequestrant_metaux: 'Séquestrant métaux'\n};\n\nconst produitsBruts = optProduits ? (wb.produits || []) : [];\n\nlet produitsTexte = '';\nlet nbPhotosDisponibles = 0;\n\nif (Array.isArray(produitsBruts) && produitsBruts.length > 0) {\n  if (typeof produitsBruts[0] === 'string') {\n    // Ancien format simple (chaînes)\n    produitsTexte = produitsBruts.map(p => '• ' + p).join('\\n');\n  } else {\n    // Format enrichi (objets) — inclut catégorie, marque, dates, commentaire, photos\n    produitsTexte = produitsBruts.map((p, idx) => {\n      const num        = idx + 1;\n      const catLabel   = CATS_LABELS[p.categorie] || p.categorie || '';\n      const nomComplet = [catLabel, p.marque, p.nom_produit].filter(Boolean).join(' / ');\n      const qte        = (p.quantite != null && p.quantite !== '') ? `${p.quantite} ${(p.unite || '')}`.trim() : '';\n      const dateAjout  = p.date_ajout ? formatDateShort(p.date_ajout) : '';\n      const dateMaj    = p.date_mise_a_jour ? formatDateShort(p.date_mise_a_jour) : '';\n\n      const hasFace   = !!(p.photo_face_base64 || p.photo_face_url || p.photo_face);\n      const hasNotice = !!(p.photo_notice_base64 || p.photo_notice_url || p.photo_notice);\n      const photos    = [hasFace && '📸 photo-face', hasNotice && '📄 notice-dosage'].filter(Boolean);\n      if (hasFace || hasNotice) nbPhotosDisponibles++;\n\n      const photosTag  = photos.length ? ` → images: [${photos.join(', ')}]` : '';\n      const commentTag = p.commentaire ? ` | Note: ${p.commentaire}` : '';\n      const dateTag    = dateAjout ? ` | Ajouté: ${dateAjout}${dateMaj && dateMaj !== dateAjout ? ' (màj ' + dateMaj + ')' : ''}` : '';\n\n      return `  Produit ${num}: ${nomComplet}${qte ? ' — stock: ' + qte : ''}${dateTag}${commentTag}${photosTag}`;\n    }).join('\\n');\n  }\n} else {\n  produitsTexte = optProduits ? '  (aucun produit enregistré)' : '  (mes produits non transmis)';\n}\n\nconst photosNote = nbPhotosDisponibles > 0\n  ? `\\n → ${nbPhotosDisponibles} produit(s) avec photos jointes à ce message (analyse-les pour lire le dosage fabricant, concentration, instructions)` \n  : '';\n\nconst alertesContextuelles = alertes.length > 0\n  ? '\\n\\n⚠️ ALERTES ACTIVES :\\n' + alertes.map(a => `• [${a.urgence.toUpperCase()}] ${a.msg}`).join('\\n')\n  : '';\n\nconst imageContext = {\n  water: \"L'utilisateur envoie une photo de son eau ou d'une bandelette → analyse visuelle prioritaire.\",\n  product: \"L'utilisateur envoie une photo d'un produit (face/notice) → concentrer sur la notice/dosage fabricant.\",\n  pool: \"L'utilisateur envoie une photo générale de sa piscine → diagnostic d'ensemble (couleur, dépôts, zones).\",\n  general: \"Photo sans type spécifié → analyse standard.\"\n}[imageType] || \"Photo sans type spécifié → analyse standard.\";\n\n// ── System Prompt (VERSION FINALE NETTOYÉE) ─\nconst systemPrompt = `Tu es Sunny 🌞 — un assistant virtuel avec la personnalité d'un technicien piscine sympa, expérimenté, et humain.\nTu es intégré dans l'application SunnyPool et tu accompagnes chaque propriétaire de piscine au quotidien.\n\n🎯 TA PERSONNALITÉ (PRIORITAIRE)\nTu es chaleureux, naturel, direct — comme un pro qu'on croise au bord d'une piscine.\nTu adaptes ton ton au message : court → court, technique → précis, casual → détendu.\nTu n'es PAS un robot technique : tu sais aussi dire \"salut\", \"merci\", \"bonne journée\" sans sur-analyser.\n\n🔄 TA LOGIQUE DE RÉPONSE (EN ORDRE)\n1️⃣ Salutation / merci (<5 mots, pas de ?) → 1 phrase humaine, ZÉRO technique\n2️⃣ Question piscine / technique → Analyse + 1 à 3 actions claires\n3️⃣ Photo piscine/eau → Diagnostic visuel + croisement données\n4️⃣ Demande dosage/planning → Calcul précis + adaptation volume\n5️⃣ Discussion neutre → Réponse naturelle, recentrage doux si utile\n6️⃣ Hors-sujet → Bienveillance + redirection vers piscine\n\n📸 IMAGES & CONTEXTE\n- N'analyse l'image QUE si elle est présente dans ce message précis.\n- Si message texte seul → réponds sans mentionner l'image.\n- Croise toujours visuel + données + météo + historique.\n- Si doute → pose 1 question courte.\n\n🧠 MÉMOIRE CONVERSATIONNELLE\n${optHistorique ? \"Tu as accès aux 20 derniers échanges ([HISTORIQUE]).\\nUtilise-les pour éviter les répétitions et suivre l'évolution.\\n⚠️ Ne jamais inclure le préfixe [HISTORIQUE] dans tes réponses.\" : \"Tu n'as pas accès à l'historique de conversation.\"}\n\n💬 TON STYLE — HUMAIN AVANT TOUT\n✅ \"OK je vois 👍\", \"Classique ça\", \"On va régler ça\", \"Franchement…\"\n✅ 0-1 emoji max, phrases courtes, langage courant\n❌ Ton scolaire, listes systématiques, structures robotiques\n🔄 VARIATION OBLIGATOIRE : Change tes ouvertures, longueurs et enchaînements à chaque réponse.\n\n🔴 RÈGLES PRO (NON NÉGOCIABLES)\n• Ordre : TAC → pH → Désinfectant\n• pH > 7.4 → Chlore inefficace, corriger pH d'abord\n• Filtration = 80% du résultat\n• Filtre cartouche → Clarifiant uniquement, JAMAIS de floculant\n• Produits → Toujours dilués dans un seau, jamais dans les skimmers\n• Notice produit lisible → Le dosage fabricant = vérité absolue\n\n📚 DOCUMENTATION_PISCINE (RÉFÉRENCE INTERNE)\n${DOCUMENTATION_PISCINE}\n→ Tu la connais par cœur, mais tu ne la cites JAMAIS littéralement.\n\n📋 DONNÉES BASSIN (CONTEXTE EN TEMPS RÉEL)\nType : ${typePool} | Volume : ${pool.volume || '?'} m³ | Filtration : ${filtrePool}\nTraitement : ${traitPool} | Équipements : ${(pool.equipements || []).join(', ') || 'non renseignés'}\nProduits : ${produitsTexte}${photosNote}\nAnalyse : pH ${analyse.ph ?? '?'} | Chlore ${analyse.chlore ?? '?'} mg/L | TAC ${analyse.tac ?? '?'} mg/L | stabilisant ${analyse.stabilisant ?? '?'} | temperature ${analyse.temperature ?? '?'}°C\nMétéo : ${optMeteo ? ('Max ' + maxT + '°C / Min ' + minT + '°C / Pluie ' + pluie + ' mm | Filtration : ' + filtrationReco) : 'non transmise'}\n🖼️ CONTEXTE IMAGE : ${imageContext}\n${alertesContextuelles}\n\n🎯 OBJECTIF FINAL\nL'utilisateur doit repartir avec l'impression d'avoir parlé à un HUMAIN, pas à un robot.\nRéponse adaptée à SON message. Conseils fiables QUAND c'est pertinent.\n👉 Tu es d'abord un humain sympa. Ensuite, un expert piscine. Jamais l'inverse.`;\n\n// ══════════════════════════════════════════════════════\n// 🔥 CONSTRUCTION DES IMAGES (CONDITIONNELLE)\n// ══════════════════════════════════════════════════════\nconst imageItems = [];\nlet hasProductImages = false;\n\nif (wb.image_base64) {\n  const cleanB64 = (wb.image_base64 || '').replace(/\\s/g, '');\n  const imageUrl = cleanB64.startsWith('data:') ? cleanB64 : 'data:image/jpeg;base64,' + cleanB64;\n  imageItems.push({ type: 'image_url', image_url: { url: imageUrl, detail: 'high' } });\n}\n\nfunction cleanBase64(raw) {\n  if (!raw) return null;\n  let str = raw.replace(/\\s/g, '');\n  return str.startsWith('data:') ? str : 'data:image/jpeg;base64,' + str;\n}\n\nif (optProduits && Array.isArray(wb.produits)) {\n  wb.produits.forEach((p, idx) => {\n    if (!p || typeof p !== 'object') return;\n    const num = idx + 1;\n    const nom = [CATS_LABELS[p.categorie], p.marque, p.nom_produit].filter(Boolean).join(' ') || `Produit ${num}`;\n    const stock = p.quantite ? `(stock: ${p.quantite} ${p.unite || ''})` : '';\n\n    const noticeSrc = cleanBase64(p.photo_notice_base64) || (p.photo_notice_url && p.photo_notice_url.startsWith('http') ? p.photo_notice_url : null);\n    if (noticeSrc) {\n      hasProductImages = true;\n      imageItems.push({ type: 'text', text: `⚠️ IMAGE PRODUIT ${num} — NOTICE : \"${nom}\".\\nLis la notice, extrais le dosage exact (g/10m³ ou g/m³).` });\n      imageItems.push({ type: 'image_url', image_url: { url: noticeSrc, detail: 'high' } });\n    }\n\n    const faceSrc = cleanBase64(p.photo_face_base64) || (p.photo_face_url && p.photo_face_url.startsWith('http') ? p.photo_face_url : null);\n    if (faceSrc) {\n      hasProductImages = true;\n      imageItems.push({ type: 'text', text: `📸 IMAGE PRODUIT ${num} — FACE : \"${nom}\"${stock}` });\n      imageItems.push({ type: 'image_url', image_url: { url: faceSrc, detail: 'high' } });\n    }\n  });\n}\n\nconst userText = wb.message || \"Voici une photo de mon bassin, qu'en penses-tu ?\";\nconst userContent = imageItems.length > 0\n  ? [{ type: 'text', text: hasProductImages ? '🚨 Lis les notices ci-dessous en priorité.\\n\\n' + userText : userText }, ...imageItems]\n  : userText;\n\nconst messagesArray = [\n  { role: 'system', content: systemPrompt },\n  ...conversationHistory,\n  { role: 'user', content: userContent }\n];\n\nreturn [{\n  json: {\n    messages_array: messagesArray,\n    system_prompt: systemPrompt,\n    user_content: userContent,\n    has_image: imageItems.length > 0,\n    session_id: wb.session_id || 'default',\n    conversation_id: wb.conversation_id || 'default_conv',\n    callback_url: wb.callback_url || '',\n    alertes,\n    planning: optPlanning ? { filtration_journaliere: filtrationReco } : {},\n    pool_filtre: filtrePool,\n    meta_max_temp: maxT\n  }\n}];\n"
      },
      "id": "5ab533ed-0c66-43ff-b7c1-f51d71207ec3",
      "name": "Préparer Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 1200,\n  \"temperature\": 0.3,\n  \"messages\": {{ JSON.stringify($json.messages_array) }}\n}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "981b330e-2124-4497-8e75-241c5d4ebf6c",
      "name": "OpenAI — Chat Direct (Vision stable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        368
      ],
      "credentials": {
        "openAiApi": {
          "id": "XF5l2IuODm8tRZKi",
          "name": "NOA"
        }
      },
      "notes": "⚙️ Créer un credential 'HTTP Header Auth' :\nName : Authorization\nValue : Bearer sk-VOTRE-CLE-OPENAI\n\nPourquoi HTTP direct et pas le node AI Agent ?\n→ L'AI Agent n8n ne gère pas fiablement les arrays multimodaux\n→ L'appel HTTP direct envoie le contenu exactement comme construit"
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NŒUD 5 — Parser la réponse OpenAI\n// Extrait : texte propre + bloc JSON analyse\n// ══════════════════════════════════════════════════════\n\nconst openaiResponse = $input.first().json;\nconst promptData     = $('Préparer Prompt').first().json;\n\n// ── Récupérer le texte brut de la réponse OpenAI ──────\nconst rawText = openaiResponse?.choices?.[0]?.message?.content || '';\n\nif (!rawText) {\n  return [{ json: {\n    response_text: 'Sunny na pas pu répondre. Vérifiez la clé API OpenAI.',\n    analyse_extraite: null,\n    score_eau: null,\n    alertes: promptData.alertes || [],\n    planning: promptData.planning || {},\n    conversation_id: promptData.conversation_id,\n    callback_url:    promptData.callback_url\n  }}];\n}\n\n// ── Extraire le bloc JSON en fin de réponse ────────────\n// Cherche ```json ... ``` ou { \"analyse\": ... } directement\nlet analyseExtraite = null;\nlet scoreEau = null;\nlet responseText = rawText;\n\ntry {\n  // Méthode 1 : bloc ```json ... ```\n  const jsonMatch = rawText.match(/```json\\s*([\\s\\S]*?)```/i);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[1].trim());\n    analyseExtraite = parsed.analyse || null;\n    scoreEau = parsed.score_eau ?? null;\n    // Supprimer le bloc JSON du texte visible (garder seulement la prose)\n    responseText = rawText.replace(/```json[\\s\\S]*?```/i, '').trim();\n  } else {\n    // Méthode 2 : JSON brut en fin de message\n    const rawJsonMatch = rawText.match(/\\{\\s*\"analyse\"\\s*:\\s*\\{[\\s\\S]*?\\}\\s*(?:,\\s*\"score_eau\"[\\s\\S]*?)?\\}/i);\n    if (rawJsonMatch) {\n      const parsed = JSON.parse(rawJsonMatch[0]);\n      analyseExtraite = parsed.analyse || null;\n      scoreEau = parsed.score_eau ?? null;\n      responseText = rawText.replace(rawJsonMatch[0], '').trim();\n    }\n  }\n} catch(e) {\n  // JSON malformé : on garde le texte brut, pas d'analyse extraite\n  analyseExtraite = null;\n}\n\n// ── Nettoyer le texte : retirer ```json orphelins ──────\nresponseText = responseText.replace(/```json|```/g, '').trim();\n\n// ── Alertes enrichies avec l'analyse extraite ──────────\nconst alertes = [...(promptData.alertes || [])];\nif (analyseExtraite) {\n  const a = analyseExtraite;\n  if (a.ph !== null && a.ph !== undefined) {\n    if (a.ph < 7.0) alertes.push({urgence:'haute',   msg:'pH lu sur image : ' + a.ph + ' → trop bas, ajouter pH+'});\n    if (a.ph > 7.6) alertes.push({urgence:'haute',   msg:'pH lu sur image : ' + a.ph + ' → trop élevé, corriger en premier'});\n  }\n  if (a.chlore !== null && a.chlore !== undefined && a.chlore < 0.5)\n    alertes.push({urgence:'haute',   msg:'Chlore lu : ' + a.chlore + ' mg/L → désinfection insuffisante'});\n  if (a.tac !== null && a.tac !== undefined && a.tac < 80)\n    alertes.push({urgence:'moyenne', msg:'TAC lu : ' + a.tac + ' mg/L → pH instable'});\n}\n\nreturn [{ json: {\n  response_text:    responseText,\n  analyse_extraite: analyseExtraite,\n  score_eau:        scoreEau,\n  alertes:          alertes,\n  planning:         promptData.planning || {},\n  conversation_id:  promptData.conversation_id,\n  callback_url:     promptData.callback_url,\n  has_image:        promptData.has_image\n}}];"
      },
      "id": "9cd7ffe0-b5e2-403a-b65e-380c77f2b660",
      "name": "Parser Réponse + Extraire JSON Analyse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url || 'https://sunny.trouvezpourmoi.com/wp-json/sunny-pool/v1/chat-callback' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Secret",
              "value": "a8F3kL9pQ2xZ7mN4rT6vW1yH5cJ8uB0s"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    conversation_id:  $json.conversation_id,\n    response:         $json.response_text,\n    analyse_extraite: $json.analyse_extraite,\n    score_eau:        $json.score_eau,\n    alertes:          $json.alertes,\n    planning:         $json.planning,\n    has_image:        $json.has_image\n  })\n}}",
        "options": {}
      },
      "id": "9f89029c-6cf5-4f7f-a925-08a0e5946e89",
      "name": "HTTP Callback → WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3248,
        368
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Météo (Open-Meteo gratuit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Météo (Open-Meteo gratuit)": {
      "main": [
        [
          {
            "node": "Préparer Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Prompt": {
      "main": [
        [
          {
            "node": "OpenAI — Chat Direct (Vision stable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Chat Direct (Vision stable)": {
      "main": [
        [
          {
            "node": "Parser Réponse + Extraire JSON Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Réponse + Extraire JSON Analyse": {
      "main": [
        [
          {
            "node": "HTTP Callback → WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9ebd4e13-75e5-4026-97e2-dd14fda49807",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af903a611289a2c727b72642e4d8d4074f8f5e262eca46b6b5852305ceab2499"
  },
  "id": "mDYKWtrLpLGQkDO7",
  "tags": []
}